<!DOCTYPE html>
<html lang="nl">
<head>
  <meta charset="UTF-8" />
  <title>l'Ouverture</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="Unamore’s kleurrijke, abstracte schilderijen over mensen en energievelden onthullen verrassende dieptes en lijken te veranderen wanneer je er vanuit een andere hoek naar kijkt." />
  <link rel="icon" href="favicon.png">
  <link rel="stylesheet" href="{{assets_url}}/css/styles.css">
  <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/7060374/6317832/css/fonts.css" />
</head>
<body>

  {{> header}}

  <aside>
      {{> nav }}
  </aside>
 
  <main>
      {{> gallery }}

      {{> tabs }}
  </main>

    {{> footer }}
</body>
</html>